# Deploys changed flows to the appropriate Prefect Cloud workspace

name: Deploy flows to env

env:
  WORKSPACE: 'prefect-sandbox/inconspicuous-pond'

  PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
  PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}

on:
  push:
    branches: [ main ]
    paths: 
      - src/**.py
      - pyproject.toml
      - .github/workflows/deploy.yaml

permissions:
  contents: read

jobs:
  deploy_flows:

    runs-on: ubuntu-latest

    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Install and Deploy
        run: |
          make deployments